@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --background-gray : #424949;
  --background-lightgray: #a6acaf;
  --background-lightestgray: #979a9a;
  --logo-color: #f8f9f9;
  --button-color: #808b96;
  --hover-button-color: #abb2b9;

}

html, body{
  color: #f4f6f6;
  overflow-x: hidden;
  scroll-behavior: smooth;
}